* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.bg-color {
    background-color: aqua;
}

.min-vh-100 {
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    background-color: aqua;
}



.relative {
    position: relative
}

.absolute {
    position: absolute;
    top: 283px;
    right: 455px;
}

.box {
    height: 200px;
    width: 200px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: brown;
}